<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ติดต่อเรา - ระบบจองสนามฟุตบอล</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <style>
        #map { height: 180px; }
    </style>
    
</head>
<body class="bg-green-50 font-sans">


<!-- Navigation -->
<nav class="bg-green-600 py-4 flex items-center justify-between">
    <div class="flex items-center">
        <a href="{% url 'userprofile' %}" class="text-white mx-4 flex items-center">
            <i class="fas fa-user-circle text-xl"></i> <!-- Profile icon -->
        </a>
    </div>
    <div class="flex-grow text-center">
        <a href="{% url 'home' %}" class="text-white mx-4 font-bold hover:underline">หน้าหลัก</a>
        <a href="{% url 'about' %}" class="text-white mx-4 font-bold hover:underline">เกี่ยวกับสนาม</a>
        <a href="{% url 'bookings' %}" class="text-white mx-4 font-bold hover:underline">ดูรายการจอง</a>
        <a href="{% url 'contact' %}" class="text-white mx-4 font-bold hover:underline">ติดต่อเรา</a>
    </div>
    <div>
        <a href="{% url 'logout' %}" class="text-white mx-4 flex items-center">
            <i class="fas fa-sign-out-alt text-xl"></i> <!-- Logout icon -->
        </a>
    </div>
</nav>

<!-- <header class="bg-green-600 text-white py-5 text-center">
    <h1 class="text-3xl">ติดต่อเรา</h1>
</header>  -->
<h1 class="text-3xl text-green-600 py-5 text-center">ติดต่อเรา</h1>

<div class="max-w-5xl mx-auto bg-white p-10 mt-10 shadow-lg rounded-lg">
    <h2 class="text-2xl text-green-600 mb-4">ติดต่อตามข้อมูลด้านล่าง</h2>
    <div class="text-center my-6">
        <div id="map"></div>
    </div>
    <p class="text-lg">ติดต่อตรงนี้:</p>
    <p class="mt-2 text-lg"><i class="fab fa-facebook"></i> โจ้โชว์คาเฟ่ฟุตบอล</p>
    <p class="mt-2 text-lg"><i class="fab fa-line"></i> ID โจ้โชว์คาเฟ่ฟุตบอล 554</p>
    <p class="mt-2 text-lg"><i class="fas fa-phone"></i> เบอร์โทร 098 291 6595</p>
</div>

<footer class="text-center py-4 bg-green-600 text-white mt-10">
    <p>© 2024 ระบบจองสนามฟุตบอล</p>
</footer>

<script>
    var map = L.map('map').setView([15.274076304386776, 104.87791228156136], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
L.marker([15.274076304386776, 104.87791228156136]).addTo(map);
</script>
</body>
</html>
